nav {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 4px;
  }

  @media (min-width: 168px) and (max-width:700px) {

      
    
  }
  
  input{
    width: 800px;
    padding: 5px;
  

  }
  
#nav-end{
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  a:hover {
    color: lightgray;
  }
  